.App {
    text-align: center;
    font-family: inter, sans-serif;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}

body {
    background-color: #23252C;
}

.profile-photo {
    width: 317px;
    height: 317px;
    left: 116px;
    top: 44px;
    margin-bottom: -4px;
    border-radius: 10px 10px 0 0;
}

.contact {
    width: 317px;
    height: 425px;
    left: 116px;
    top: 361px;
}

.contact.dark {
    background: #1A1B21;
    color: #fff;
}

.contact.light {
    background: #F5F5F5;
}

.contact--name {
    left: 155px;
    top: 401px;
    font-style: normal;
    font-weight: 700;
    font-size: 16.4401px;
    line-height: 20px;
}

.contact--title {
    font-style: normal;
    font-weight: 400;
    font-size: 12.8px;
    line-height: 15px;
    color: #F3BF99;
}

.contact--title.dark {
    color: #F3BF99;
}

.contact--title.light {
    color: #F47D27;
}

.contact--email {
    font-style: normal;
    font-weight: 400;
    font-size: 10.24px;
    line-height: 150%;
}

.contact--email.dark {
    color: #F5F5F5;
}

.contact--email.light {
    color: #4A4E74;
}

.contact--buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 9px 13px 9px 11px;
    gap: 8px;
}

.contact--buttons > a {
    text-decoration: none;
}

.contact--email--btn {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 9px 13px 9px 11px;
    gap: 8px;
    width: 115px;
    height: 34px;
    left: 151px;
    top: 468px;
    background: #FFFFFF;
    border: 1px solid #D1D5DB;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
}

.contact--linkedIn--btn {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 9px 13px 9px 11px;
    gap: 8px;
    width: 115px;
    height: 34px;
    left: 283px;
    top: 468px;
    background: #5093E2;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
}

.email--icon {
    left: 10%;
    right: 10%;
    top: 20%;
    bottom: 20%;
    width: 16px;
    height: 16px;
}

.linkedin--icon {
    width: 16px;
    height: 16px;
    order: 0;
    flex-grow: 0;
    left: 8.33%;
    right: 8.33%;
    top: 8.33%;
    bottom: 8.33%;
}

.contact--email--btn > p {
    width: 36px;
    height: 16px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #374151;
    order: 1;
    flex-grow: 0;
}

.contact--linkedIn--btn > p {
    width: 57px;
    height: 16px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    order: 1;
    flex-grow: 0;
}

.aboutInterests {
    width: 247px;
    height: 201px;
    left: 152px;
    top: 535px;
    text-align: left;
    margin: 36px;
}

.about--title {
    width: 242.71px;
    height: 21px;
    left: 152px;
    top: 535px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
}

.about--title.dark {
    color: #F5F5F5;
}

.about--title.light {
    color: #2B283A;
}

.about--text {
    width: 247px;
    height: 61px;
    left: 152px;
    top: 561px;

    font-style: normal;
    font-weight: 400;
    font-size: 10.24px;
    line-height: 150%;
}

.about--text.dark {
    color: #DCDCDC;
}

.about--text.light {
    color: #4A4E74;
}

.interests--title {
    width: 242.71px;
    height: 21px;
    left: 152px;
    top: 649px;
    font-style: normal;
    font-weight: 700;
    margin-top: 40px;
    font-size: 16px;
    line-height: 150%;
}

.interests--title.dark {
    color: #F5F5F5;
}

.interests--title.light {
    color: #2B283A;
}

.interests--text {
    width: 247px;
    height: 61px;
    left: 152px;
    top: 675px;
    font-style: normal;
    font-weight: 400;
    font-size: 10.24px;
    line-height: 150%;
}

.interests--text.dark {
    color: #DCDCDC;
}

.interests--text.light {
    color: #4A4E74;
}

.social-icons {
    width: 317px;
    height: 64px;
    left: 116px;
    top: 760px;
    display: inline-flex;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: center;
    align-items: center;
    border-radius: 0px 0px 10px 10px;
}

.social-icons.dark {
    background: #161619;
}

.social-icons.light {
    background: #D5D4D8;
}

/*.twitter-icon {*/
/*    left: 34.36%;*/
/*    right: 61.09%;*/
/*    top: 89.75%;*/
/*    bottom: 7.37%;*/
/*    width: 25px;*/
/*    height: 25px;*/
/*}*/

.facebook-icon {
    /*position: absolute;*/
    left: 43.27%;
    right: 52.18%;
    top: 89.75%;
    bottom: 7.37%;
    width: 25px;
    height: 25px;
}

.instagram-icon {
    /*position: absolute;*/
    left: 52.18%;
    right: 43.27%;
    top: 89.75%;
    bottom: 7.37%;
    width: 25px;
    height: 25px;
}

.github-icon {
    /*position: absolute;*/
    left: 61%;
    right: 34.45%;
    top: 89.8%;
    bottom: 7.32%;
    width: 25px;
    height: 25px;
}